
*{
    box-sizing: border-box;
}

.formFrame {
    min-width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}

.enterFormContainer {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;

}

.enterTitle {
    font: 500 48px var(--font-family-text);
    color: black;
}

.inputTitle {
    font: 450 24px var(--font-family-text);
    color: #424041;
    letter-spacing: 0.05em;
}

.input {
    all: unset;
    display: grid;
    box-sizing: border-box;
    height: 59px;
    border: 1px solid #8B8B8B;
    background: none;
    padding: 16px;
    font: 450 24px var(--font-family-text);
    color: black;
    &::placeholder {
        //color: #8B8B8B;
        color: red;
        align-self: end;
        justify-self: end;
    }
}

.bottomTextContainer {
    align-self: center;

    .text {
        font: 450 18px var(--font-family-text);
        color: #8B8B8B;
        letter-spacing: 0.05em;

        .action {
            color: black;
            cursor: pointer;
        }
    }
}

.enterBtn {
    height: 59px;
    font: 450 18px var(--font-family-text);
    color: black;
    letter-spacing: 0.05em;
    background: #B4EFA6;
    border: 1px solid #424041;
    cursor: pointer;
}