.wrapper-section {
  margin-top: 16px;
  display: grid;
  grid-auto-flow: row;
  height: -moz-max-content;
  height: max-content;
}

.wrapper-section__item {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}
.wrapper-section__item .wrapper-section__item-element__column:nth-child(2) {
  margin-top: 32px;
}

.wrapper-section__item__map {
  display: grid;
  grid-auto-flow: row;
  width: 90%;
  margin-left: 4em;
  margin-right: 4em;
}

.wrapper-section__item__map-element {
  margin-top: 32px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.wrapper-section__item-element__column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 48px;
}

.wrapper-section__item-element__row {
  display: grid;
  grid-auto-flow: row;
}

.wrapper-section__item-element {
  margin-top: 32px;
}

.wrapper-section__element-description-input {
  width: 25em;
}

.grid-item__right {
  display: grid;
  justify-content: right;
}

.grid-item__left {
  display: grid;
  justify-content: left;
}

.wrapper-section__item-element__map {
  height: 40em;
  margin-top: 16px;
}

.wrapper-section__item__sub {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.item-element__column {
  display: grid;
  gap: 40px;
}

@media screen and (max-width: 960px) {
  .wrapper-section__item-element__column {
    grid-template-columns: none;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
  }
  .wrapper-section__item__map-element {
    grid-template-columns: none;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
  }
  .grid-item__right {
    margin-top: 16px;
    justify-content: start;
  }
  .grid-item__left {
    justify-content: start;
  }
  .wrapper-section__item-element__map {
    width: 80%;
  }
}
.container {
  margin-top: 1em;
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: scroll;
  place-items: start;
}

.list {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 48px;
  column-gap: 48px;
}