

.allDefault {
    all: unset;
    box-sizing: border-box;
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
}
.row {
    display: flex;
    flex-flow: row nowrap;
}
.col {
    display: flex;
    flex-flow: column nowrap;
}
.center {
    display: grid;
    place-items: center;
}



.page {
    width: 100%;
    @extend .center;
}

.mainFrame {
    @extend .col;
    width: clamp(400px, 100%, 1920px);
}

.mainTitle {
    padding: 0 64px 0 64px;
    font: 450 36px var(--font-family-text);
    color: black;
}



.fieldsContainer {
    display: flex;
    flex-flow: row wrap;
    padding: 0 64px 0 64px;
    width: clamp(400px, 100%, 1920px); height: fit-content;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 32px 60px;

    .widgetBox {
        @extend .col;

        .title {
            display: grid;
            place-items: center start;
            height: 27px;
            font: 450 18px var(--font-family-text);
            color: #424041;
            letter-spacing: 0.05em;
        }

        .search {
            width: 381px; height: 59px;
            background: aqua;
        }
        .rooms {
            width: 260px; height: 59px;
            background: aqua;
        }
        .cost {
            width: 361px; height: 59px;
            background: aqua;
        }
        .sort {
            width: 235px; height: 59px;
            background: aqua;
        }
        .apply {
            @extend .allDefault;
            @extend .center;
            width: 280px; height: 59px;
            background: #B4EFA6;
            border: 1px solid #424041;
            cursor: pointer;
            font: 450 18px var(--font-family-text);
            color: black;
            letter-spacing: 0.05em;
        }
    }
}








