.reset, .allDefault, * {
  box-sizing: border-box;
  margin: 0;
}

.allDefault {
  all: unset;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.rowWrap {
  display: flex;
  flex-flow: row wrap;
}

.col {
  display: flex;
  flex-flow: column nowrap;
}

.center {
  display: grid;
  place-items: center;
}

.centerText {
  text-align: center;
}

.centerStart {
  display: grid;
  place-items: center start;
}

.abs, .frame .imagesScrollBox .imagesFrame .contentContainer .imageContainer .imageBgc, .frame .imagesScrollBox .imagesFrame .contentContainer .imageContainer .blur, .frame .imagesScrollBox .imagesFrame .contentContainer .imageContainer .image, .underborderOnHover:hover::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hideScrollbar, .frame .imagesScrollBox .imagesFrame {
  scrollbar-width: none;
}
.hideScrollbar::-webkit-scrollbar, .frame .imagesScrollBox .imagesFrame::-webkit-scrollbar {
  display: none;
}

.noScroll {
  overflow: hidden;
}

.underborderOnHover {
  position: relative;
}
.underborderOnHover:hover::after {
  bottom: -2px;
  content: "";
  border-bottom: 2px solid #8B8B8B;
}

.frame {
  width: 400px;
  height: 319px;
  background: #F8F8F8;
  border: 1px solid #424041;
  display: grid;
  padding-bottom: 8px;
  grid: "image image" 240px "name  name " "year  count";
}
.frame .imagesScrollBox {
  grid-area: image;
  display: grid;
  grid: "center";
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.frame .imagesScrollBox .imagesFrame {
  grid-area: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  overflow: auto;
  position: relative;
}
.frame .imagesScrollBox .imagesFrame .contentContainer {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  position: relative;
}
.frame .imagesScrollBox .imagesFrame .contentContainer .imageContainer {
  width: 400px;
  height: 240px;
  position: relative;
}
.frame .imagesScrollBox .imagesFrame .contentContainer .imageContainer .imageBgc {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.frame .imagesScrollBox .imagesFrame .contentContainer .imageContainer .blur {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.5);
}
.frame .imagesScrollBox .imagesFrame .contentContainer .imageContainer .image {
  top: unset;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.frame .imagesScrollBox .scroll {
  grid-area: center;
  place-self: end stretch;
  background: rgba(0, 0, 0, 0.2);
  height: 10px;
  /*[id$=thumb-box]{
      padding: 2px 3px;
  }
  [id$=thumb]{
      background: rgba(0,0,0,0.5);
  }*/
}
.frame .logo {
  grid-area: image;
  place-self: start;
  width: auto;
  height: 32px;
  z-index: 2;
}
.frame .name {
  grid-area: name;
  place-self: start;
  margin-top: 8px;
  margin-left: 16px;
  height: 31px;
  font: 500 24px var(--font-family-text);
  letter-spacing: 0.05em;
  color: black;
}
.frame .year {
  grid-area: year;
  place-self: start;
  margin-top: 8px;
  margin-left: 16px;
  height: 24px;
  font: 400 16px var(--font-family-text);
  letter-spacing: 0.055em;
  color: #8B8B8B;
}
.frame .count {
  grid-area: count;
  place-self: start end;
  margin-top: 8px;
  margin-right: 16px;
  height: 24px;
  font: 400 16px var(--font-family-text);
  letter-spacing: 0.055em;
  color: #8B8B8B;
}